.hero-section {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), 
        url('images/campus.jpg'); 
    background-size: cover;
    background-position: center;
    color: white;
    padding: 150px 0;
}
body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }